:root {
    --black: #212121;
    --white: #ffffff;
    --footer_color: #2f303a;
    --blue: #2196f3;
    --grey: #757575;
    --like_white: #f5f4fa;
    --fonts: "Roboto";
}

*{

	margin: 0;
	padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
}
.logo{

	color: #2196F3;
;
	text-decoration: none;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.17;
	letter-spacing: 0.03em;
}
.logo span{

	color:  #000000;
;
}
.nav a{
text-decoration: none;
color:  #212121;
font-weight: 500;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.02em;

}
.nav a:hover{
color: blue;

}
.header-contacts a{
	text-decoration: none;
color:  #757575;
;
font-weight: 500;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.02em;

	

}
.header-contacts a:hover{

	color: blue;
}
.hero{
 background: #2F303A; 
 width: 1600px;
 height: 600px;
 top:80px;


}

 .back  {
	color:  #FFFFFF;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
   letter-spacing: 0.06em;

}

 .buttons{

border-radius: 4px;
background: #2196F3;
	color :  #FFFFFF;
	
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	


}

.text{
	/* width: 270px;
	height: 98px;
	top:774px;
	left: 215PX; */
}
.text h3{
	color: #212121;
font-weight: 700;
font-size: 14px;
line-height: 1.17;
letter-spacing: 3%;
}
.text p{
	color:  #757575;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.text1{
/*	height: 74px;
	top:774px;
	left: 515PX; */}

.text1 h3{
	color: #212121;
font-weight: 700;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.03em;
}
.text1 p{
	color:  #757575;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.text2{
 /* width: 270px;
	height: 74px;
	top:774px;
	left: 815PX; */

}
.text2 h3{
	color: #212121;
font-weight: 700;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.03em;
}
.text2 p{
	color:  #757575;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.text3{
  /* width: 270px;
	height: 74px;
	top:774px;
	left: 1115PX; */

}
.text3 h3{
	color: #212121;
font-weight: 700;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.03em;
}
.text3 p{
	color:  #757575;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.gallery{
 /* height: 386px;
top: 966px;
left: 215px; */

}
.text4{
 /*width: 366px;
	height: 42px;
	top:966px;
	left: 627PX; */ 
	color:  #212121;

font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;


}

.team{
 /* width: 1600px;
height: 648px;
top: 1446px;*/

}
.text5{
	color:  #212121;

font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;



}
.team1 h3{

	color: #212121;
font-weight: 500;
font-size: 16px;
line-height: 1.17;
letter-spacing:0.03em;



}
.team1 p{
	color: #757575;
font-weight: 400;
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.03em;

}
.team2 h3{

	color: #212121;
font-weight: 500;
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.03em;


}
.team2 p{
	color: #757575;
font-weight: 400;
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.03em;
}
.team3 h3{

	color: #212121;
font-weight: 500;
font-size: 16px;
line-height: 1.17;
letter-spacing:0.03em;



}
.team3 p{
	color: #757575;

font-weight: 400;
font-size: 16px;
line-height: 1.17;
letter-spacing:0.03em;

}
.team4 h3{

	color: #212121;
font-weight: 500;
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.03em;



}
.team4 p{
	color: #757575;
font-weight: 400;
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.03em;

}
.footer{
	background: #2F303A;
	width: 1600px;
	height: 251px;
	top: 2094px;

}
.logos{
	text-decoration: none;
	color: #2196F3;
;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.17;
	letter-spacing: 0.03em;
}
.logos span{
	color: #fff;
}
.a p{
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing:0.03em;

}
.a a{

	text-decoration: none;
	color:  #FFFFFF99;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;

}
.bu {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    padding: 20px 0; 
}

.bu button {
    background: #F5F4FA; 
    color: #212121; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    font-family: Roboto; 
    font-size: 16px; 
    transition: background-color 0.3s, color 0.3s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.bu button:hover {
    background-color: #007BFF; 
    color: white; 
}

.bu button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.bu button.active {
    background-color: #007BFF; /
    color: white; 
}
.item1 h3 {
color:  #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing:0.06em;
}
.item1 p {
color: #757575;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

}
.item2 h3 {
color:  #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

}
.item2 p {
color: #757575;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing:0.03em;

}
.item3 h3 {
color:  #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.item3 p {
color: #757575;

font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

}
.item4 h3 {
color:  #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing:0.06em;

}
.item4 p {
color: #757575;

font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

}
.item5 h3 {
color:  #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

}
.item5 p {
color: #757575;

font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

}
.item6 h3 {
color:  #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

}
.item6 p {
color: #757575;

font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

}
.item7 h3 {
color:  #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

}
.item7 p {
color: #757575;
;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}
.item8 h3 {
color:  #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing:0.06em;

}
.item8 p {
color: #757575;

font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing:0.03em;

}
.item9 h3 {
color:  #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

}
.item9 p {
color: #757575;

font-weight: 400;
font-size: 16px;
line-height:1.87;
letter-spacing: 0.03em;

}
