 :root {
    --black: #212121;
    --white: #ffffff;
    --footer_color: #2f303a;
    --blue: #2196f3;
    --grey: #757575;
    --like_white: #f5f4fa;
    --f:#333;
    --a:#000000;
    --b: #007BFF;
    --font: 'Roboto', sans-serif;
}

*{

    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font);
    color:var(--f);
    line-height: 1.6;
    margin: 0;
    width: 1600px;

}
header{
display: flex;
align-items: center;
    border-bottom: 1px solid #eee;
    background: var(--white);

}
.nav ul {
display: flex;
padding-left: 93px;
gap:50px;


}
.nav li{

     list-style: none;
}
.logo{

    color: var(--blue);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-left: 215px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo span{

    color:  var(--a);
;
}
.nav a{
text-decoration: none;
color:  var(--black);
font-weight: 500;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.02em;



}
.nav a:hover{
color: var(--blue);


}

.header-contacts{
display: flex;
padding-left: 354px;
gap:40px;

}
.header-contacts a{
    text-decoration: none;
color:  var(--grey);
font-weight: 500;
font-size: 14px;
line-height: 1.17;
letter-spacing: 0.02em;

    

}
.header-contacts a:hover{

    color: var(--blue);
}
.hero{
 background: var(--footer_color); 
 height: 600px;
  display: flex;
  flex-direction: column;
 align-items: center;
text-align: center;



}






.hero h1{

    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 200px;
}


 .back  {
    color:  var(--white);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
   letter-spacing: 0.06em;

}


 .buttons{
    border:none;
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 24px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px, 4px,4px, 0px rgba(0,0,0,0.15);
    background: var(--blue);
    color :  var(--white);
    font-family: var(--font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    


}


.services {
    display: flex; 
     padding:94px 215px;
}
.services ul {
    list-style-type: none; /* Видалити маркери списку */
    display: flex; 
    gap :30px;
}

.services li {
    flex: 1; /* Встановлюємо рівну ширину для кожного елементу */
    
    text-align: left; 
}
.text1 h3{
    padding-bottom: 10px;
    color: var(--black);
font-weight: 700;
font-size: 14px;
line-height: 1.17;
letter-spacing: 3%;
}
.text1 p{
    color:  var(--grey);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}







.gallery{
display: flex;
 flex-direction: column;
text-align: center;
padding-right: 215px;
padding-left:215px;
padding-bottom: 47px;
}
.gallery h2{

    padding-bottom: 50px;
    font-size: 36px;
}

.gallery ul{
   list-style-type: none; /* Видалити маркери списку */
    display: flex; 
    gap:30px;

}
.text1{
 /*width: 366px;
    height: 42px;
    top:966px;
    left: 627PX; */ 
    color:  var(--black);

font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;


}
.team1{
        border: 1px solid #eee;
    background: var(--white);
   
    padding: 0;
    margin: 0;
    width: 370px; 
}
.team2{
padding-left: 71px;
}
.team3{
padding-bottom:30px; 
padding-left: 70px;

}

.team{
display: flex;
flex-direction: column;
 background-color: var( --like_white);
padding:0px 215px;
padding-top: 47px;
padding-bottom: 94px;


}
.team h2{
    padding-bottom: 50px;
    text-align: center; 

}
.team ul{
     list-style-type: none; /* Видалити маркери списку */
    display: flex; 
    gap:30px;

}
.text5{
    color:  var(--black);

font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;

}
.team1 h3{
padding-top: 30px;
padding-bottom: 10px;
    color: var(--black);
font-weight: 500;
font-size: 16px;
line-height: 1.17;
letter-spacing:0.03em;


}
.team1 p{
    color: var(--grey);
font-weight: 400;
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.03em;

}


footer{
    background: var(--footer_color);
    height: 251px;
    padding-left: 215px;

}


.logos{
    padding-top: 60px;
    display: inline-block;
    text-decoration: none;
    color: var(--blue);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-bottom: 28px;

}
.logos span{
    color: var(--white);
}
.a {
    font-style: normal;
}

.a p{

    padding-bottom: 12px;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing:0.03em;
}

.a a:hover{
    color:var(--blue);
}
.a a{
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: rgba(255,255,255,0.6);

}
.bu {
    display: flex; 
    justify-content: center; 
    gap: 8px; 
 
    padding-top: 94px;
    padding-left: 516px;
    padding-right: 515px;
}

.bu button {
    background: var(--like_white); 
    color: var(--black); 
    border: none; 
    padding: 6px 22px; 
    border-radius: 4px; 
    cursor: pointer;
    font-weight: 500;
    font-family: var(--font); 
    font-size: 16px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.bu button:hover {
    background-color: var(--b); 
    color: var(--white); 
}

.bu button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.bu button.active {
    background-color:var(--b) ; 
    color: var(--white); 
}

.portfolio-items ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 370px); /* 3 стовпці по 370px */
    gap: 30px; /* Відстань між елементами */
    justify-content: center; /* Центрує сітку */
    padding-left: 215px;
    padding-right: 215px;
    padding-top:34px;
 
}
.item1 {
    border: 1px solid #eee;
    background: var(--white);
   
    padding: 0;
    margin: 0;
    width: 370px; 
}

.item1 img {
    width: 100%; /* Встановлює зображення по ширині елемента */
    height: auto; /* Автоматична висота */
    display: block; /* Забирає можливі відступи зображення */
}


.item2{
padding-left: 24px;
padding-bottom: 4px;
padding-top: 20px;

}

.item3{
padding-left: 24px;
padding-bottom: 20px;

}





.item1 h3 {
color:  var(--black);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing:0.06em;
}

.item1 p {
color: var(--grey);
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}